/* Configurações padrões */

body, html  {
    margin: 0px;
    font: 16px "Comic Sans MS", "Comic Sans", cursive, sans-serif;;
    color: #777;
    height: 100%;
}

.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

/* Efeito Parallax */

.caixa1, 
.caixa2, 
.caixa3, 
.caixa4, 
.caixa5, 
.caixa6
 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.caixa1 {
    background-image: url(/imagens/imagem1.jpg);
}

.caixa2 {
    background-image: url(/imagens/imagem2.jpg);
}

.caixa3 {
    background-image: url(/imagens/imagem3.jpg);
}

.caixa4 {
    background-image: url(/imagens/imagem4.jpg);
}

.caixa5 {
    background-image: url(/imagens/imagem5.jpg);
}

.caixa6 {
    background-image: url(/imagens/imagem6.jpg);
}